<!DOCTYPE html>
<html>
<head>
  <title></title>

  {% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'crmapp/css/semantic.min.css' %}">

<script type="text/javascript" src="{% static 'crmapp/js/jquery.js'%}"></script>

<script type="text/javascript" src="{% static 'crmapp/js/semantic.min.js'%}"></script>

  



<style type="text/css">


 .blue.button {
  background-color: #1a0fa2 !important;
 }

.card {

  background-color: #e3eaf0 !important;

}

 
</style>
</head>




<body style = 'background-color: #ffffff'>






  {% block content %}

  {% endblock %}



 



</body>




<script type="text/javascript">
  
 


</script>

</html>