{% extends "base.html" %}


{% block content %}

<div class="ui tiny modal" id="customer_modal">
  <div class="header"> Contact Details</div>
  <div class="content">
     <form  class="ui form" method="post" id="customer_form"  data-href="{% url 'create_customer_json' %}">



    {% csrf_token %}
    {{ customer_form.as_p }}



 <button type="submit" class="ui green button">Save</button>




   
</form> 

  </div>
</div>





<div class="ui comments">

{% if message_list %}


{% for message in message_list%}
<div class="comment">
         			<a class="avatar"><img src="../images/avatar/small/joe.jpg"> </a>
					<div class="content"><a class="author">{{message.message_from}}</a>
					<div class="metadata"><div class="date">{{message.date_added}}</div></div>
					<div class="text"><p>{{message.body}}</p></div></div></div>

{% endfor %}


{%  endif %}

  <div class="mydiv" id="chat">
    
  </div>

  <form class="ui reply form" method="post" data-chat="/message/endpoint/" id="message_form">

  {% csrf_token %}
    <div class="field">
      <textarea name="message"></textarea>
    </div>


    <input type="text" name="conversation_id" id="conversation_id" value="{{conversation_id}}">


    {% if is_new %}
    
   <button class="ui blue  labeled icon button compact" type="button" id="add_user">
      <i class="icon send"></i> Send
    </button>

{% else %} 

    <button class="ui blue  labeled icon button compact"  type="submit">
      <i class="icon send"></i> Send
    </button>


{% endif %}




  </form>
</div>


<script type="text/javascript">

{% if is_new %}

$("#add_user").click(function (e) {
	$('#customer_modal').modal('show');
	
})





{% endif %}



const receiveEndpoint = 'recieve';
// Query endpoint for new messages
setInterval(() => {
  fetch(receiveEndpoint)
    .then(response => response.json())
    .then(messages => {
      // Update chat with new messages
      chat.innerHTML = messages['data'].map(message => `
        			<div class="comment">
         			<a class="avatar"><img src="../images/avatar/small/joe.jpg"> </a>
					<div class="content"><a class="author">${message.user}</a>
					<div class="metadata"><div class="date">${message.time}</div></div>
					<div class="text"><p>${message.message}</p></div></div></div>`).join('');
    });
}, 10000);





	
$("#message_form").submit(function(e) {
		 // avoid to execute the actual submit of the form.
		e.preventDefault();
		var form = $('#message_form');
			$.ajax({
				url: form.attr("data-chat"),
				data: form.serialize(),
				csrfmiddlewaretoken: '{{ csrf_token }}',
				type: 'post',
				dataType: 'json',
				success: function (data) {

				message=data['message']
				
				var literal =`
        			<div class="comment">
         			<a class="avatar"><img src="../images/avatar/small/joe.jpg"> </a>
					<div class="content"><a class="author">${message}</a>
					<div class="metadata"><div class="date">${message}</div></div>
					<div class="text"><p>${message}</p></div></div></div>`
		
					$('#chat').append(literal);
		
					console.log(message)
					},

					error:function(){
					alert("zvaramba");
				},

				complete:function(){
							console.log("complete")
						}
			});


		});




$("#customer_form").submit(function(e) {
		 // avoid to execute the actual submit of the form.
		e.preventDefault();
		var form = $('#customer_form');
			$.ajax({
				url: form.attr("data-href"),
				data: form.serialize(),
				csrfmiddlewaretoken: '{{ csrf_token }}',
				type: 'post',
				dataType: 'json',
				success: function (data) {
					$('#customer_modal').modal('hide');
					$("#message_form").submit()
					window.location.replace(data['url']);
					
				},

					error:function(){
					alert("zvaramba");
				},

				complete:function(){
							console.log("complete")
						}
			});


		});



</script>




  </script>

{% endblock %}