{% extends "base.html" %}


{% block content %}



<a class="ui pink icon button" href="{% url 'lead_update'  object.id %}">
	
	 <i class="pencil icon"></i>
</a>


<p>Customer:  {{ object.customer }}</p>
<p>Note to Sales:  {{ object.note }}</p>



<p>Agent:{{ object.elevator }} </p>


	{% for product in  lead.intrested_in.all %}

                            {{product}},


							{% endfor %}





 

<a class="ui purple button"  href={% url 'customer_message_list' object.customer.id %}  >Messages</a>


<a class="ui teal button"  href="{% url 'lead_list' %}"  >Back To Leads</a>



 
{% endblock %}