{% extends "base.html" %}


{% block content %}
{% include "crmapp/datatables.html" %}


{% load static %}

<a class="ui blue button " id="" href="{% url 'sale_create'%}" >Add A Sale </a>  


	<div class="container">

	<div class="ui hidden divider"></div>

        <h3 class="ui block header  center aligned  ">

 <div class="eight wide column"> Sales </div>

      
		  </h3>



		<section>

			<div class="demo-html"></div>
			<table id="example" class="ui celled table" style="width:100%">
				<thead>


					<tr>
						<th>Date Added</th>
						<th>Customer</th>
						<th>Product</th>
						<th>Action</th>
						
						
					</tr>
				</thead>
				<tbody>

          {% if sale_list %}
    {% for sale in sale_list %}
					<tr>
						<td>{{ sale.date_added}}</td>
						<td>{{ sale.customer}}</td>
						<td>{{ sale.product}}</td>
					
						<td >


<a class="ui olive icon button" href="{% url 'sale_detail' sale.id %}">
  <i class="eye icon"></i>
</a>


<a href="{% url 'sale_update' sale.id %}" class="ui green icon button"><i class="pencil alternate icon"></i></a></td>
					</tr>



			

    {% endfor %}


{% else %}
    <p>Empty</p>
{% endif %}

				</tfoot>
			</table>



     
       
      


    </section>
</div>
{% endblock %}