{% extends "base.html" %}


{% block content %}

<form  class="ui form" method="post">{% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Save" class="ui green button">
</form>


<script type="text/javascript">




$("#id_department").addClass("ui fluid multiple search selection dropdown")
$("#id_agents").addClass("ui fluid multiple search selection dropdown")
$("#id_status").addClass("ui fluid multiple search selection dropdown")
 $('.dropdown').dropdown();
</script>

{% endblock %}